body {
    background-color: #2a282b;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.darkswitch {
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(130deg, #4a484b, #0a0a0a);
    box-shadow:
        -2px -2px 1px 3px #0b0b0b,
        2px 2px 1px 2px #545454,
        -12px -12px 15px #494849,
        12px 12px 15px #0b0b0b;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}

.toggle-btn {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(130deg, #4a484b, #0a0a0a);
    box-shadow:
        0px 0px 5px 5px #212121,
        5px 4px 5px 1px #7a787b,
        -5px -5px 10px 5px #0b0b0b;
    border: 3px solid #1a1a1a;
    border-radius: 50%;
    transition: 0.3s ease;
}

.inner-circle {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all 0.3s ease;
    background: radial-gradient(circle, rgba(155, 0, 0, 0.8) 35%, rgba(251, 0, 0, 0.618) 100%);
    box-shadow: 0 0 8px rgba(196, 1, 1, 0.597), 0 0 15px rgba(155, 0, 0, 0.6) inset;
}

.toggle-active .inner-circle {
    background: radial-gradient(circle, rgba(0, 155, 0, 0.8) 35%, rgba(0, 130, 0, 0.8) 100%);
    box-shadow: 0 0 8px rgba(0, 155, 0, 0.6), 0 0 15px rgba(0, 155, 0, 0.6) inset;
}

.darkswitch-active {
    background: linear-gradient(130deg, #c5c5c5, #d9d9d9);
    box-shadow:
        -2px -2px 1px 3px #b1b1b1,
        2px 2px 1px 2px #d9d9d9,
        -12px -12px 15px #c0c0c0,
        12px 12px 15px #d9d9d9;
}

.darkswitch-active .toggle-btn {
    background: linear-gradient(130deg, #c5c5c5, #d9d9d9);
    box-shadow:
        0px 0px 5px 5px #c0c0c0,
        5px 4px 5px 1px #d9d9d9,
        -5px -5px 10px 5px #b1b1b1;
    border: 3px solid #c0c0c0;
}

.mode-text {
    position: relative;
    padding: 10px 20px;
    margin: 0px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    background: #2a282b; 
    color: rgba(179, 0, 0, 0.8);
    box-shadow:
        -5px -5px 10px #494849, 
        5px 5px 10px #0b0b0b;
    transition: all 0.3s ease;
}

.bright-mode {
    background: #c2c2c2;
    box-shadow:
        -5px -5px 10px #a4a4a4, 
        5px 5px 10px #d9d9d9;
    color:rgba(0, 141, 0, 0.8); 
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 85px;
}

